/* app/globals.css */
@import "../app/styles/variables.css";
@import "../app/styles/base.css";


/* small global overrides */
html, body, #__next {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  background: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  margin: 0;
}
main {
  min-height: calc(100vh - 160px); /* space for header/footer */
}
